<div>
    <ul class='circle-container'>
        <li routerLink="/aquarius-info" routerLinkActive="active">
            <app-aquarius-svg></app-aquarius-svg>
        </li>
        <li routerLink="/aries-info" routerLinkActive="active">
            <app-aries-svg></app-aries-svg>
        </li>
        <li routerLink="/cancer-info" routerLinkActive="active">
            <app-cancer-svg></app-cancer-svg>
        </li>
        <li routerLink="/capricornus-info" routerLinkActive="active">
            <app-capricornus-svg></app-capricornus-svg>
        </li>
        <li routerLink="/gemini-info" routerLinkActive="active">
            <app-gemini-svg></app-gemini-svg>
        </li>
        <li routerLink="/leo-info" routerLinkActive="active">
            <app-leo-svg></app-leo-svg>
        </li>
        <li routerLink="/libra-info" routerLinkActive="active">
            <app-libra-svg></app-libra-svg>
        </li>
        <li routerLink="/pisces-info" routerLinkActive="active">
            <app-pisces-svg></app-pisces-svg>
        </li>
        <li routerLink="/sagittarius-info" routerLinkActive="active">
            <app-sagittarius-svg></app-sagittarius-svg>
        </li>
        <li routerLink="/scorpio-info" routerLinkActive="active">
            <app-scorpio-svg></app-scorpio-svg>
        </li>
        <li routerLink="/taurus-info" routerLinkActive="active">
            <app-taurus-svg></app-taurus-svg>
        </li>
        <li routerLink="/virgo-info" routerLinkActive="active">
            <app-virgo-svg></app-virgo-svg>
        </li>
    </ul>
    <div class="star-field">

    </div>
</div>