@use '../signs.scss';
.cancer-1 {
    animation-delay: -8s;
}

.cancer-2 {
    animation-delay: -3s;
}

.cancer-3 {
    animation-delay: -7s;
}

.cancer-4 {
    animation-delay: -4s;
}

.cancer-5 {
    animation-delay: -9s;
}