@use '../signs.scss';
.taurus-1 {
    animation-delay: -8s;
}

.taurus-2 {
    animation-delay: -3s;
}

.taurus-3 {
    animation-delay: -7s;
}

.taurus-4 {
    animation-delay: -4s;
}

.taurus-5 {
    animation-delay: -9s;
}

.taurus-6 {
    animation-delay: -6s;
}

.taurus-7 {
    animation-delay: -1s;
}

.taurus-8 {
    animation-delay: -10s;
}

.taurus-9 {
    animation-delay: -11s;
}

.taurus-10 {
    animation-delay: -2s;
}