@use '../signs.scss';
.sagittarius-1 {
    animation-delay: -8s;
}

.sagittarius-2 {
    animation-delay: -3s;
}

.sagittarius-3 {
    animation-delay: -7s;
}

.sagittarius-4 {
    animation-delay: -4s;
}

.sagittarius-5 {
    animation-delay: -9s;
}

.sagittarius-6 {
    animation-delay: -6s;
}

.sagittarius-7 {
    animation-delay: -1s;
}

.sagittarius-8 {
    animation-delay: -10s;
}

.sagittarius-9 {
    animation-delay: -11s;
}

.sagittarius-10 {
    animation-delay: -2s;
}

.sagittarius-11 {
    animation-delay: -5s;
}

.sagittarius-12 {
    animation-delay: -12s;
}

.sagittarius-13 {
    animation-delay: -5s;
}

.sagittarius-14 {
    animation-delay: -12s;
}

.sagittarius-15 {
    animation-delay: -5s;
}

.sagittarius-16 {
    animation-delay: -18s;
}

.sagittarius-17 {
    animation-delay: -20s;
}

.sagittarius-18 {
    animation-delay: -16s;
}

.sagittarius-19 {
    animation-delay: -13s;
}

.sagittarius-20 {
    animation-delay: -14s;
}