@use '../signs.scss';
.aquarius-1 {
    animation-delay: -8s;
}

.aquarius-2 {
    animation-delay: -3s;
}

.aquarius-3 {
    animation-delay: -7s;
}

.aquarius-4 {
    animation-delay: -4s;
}

.aquarius-5 {
    animation-delay: -9s;
}

.aquarius-6 {
    animation-delay: -6s;
}

.aquarius-7 {
    animation-delay: -1s;
}

.aquarius-8 {
    animation-delay: -10s;
}

.aquarius-9 {
    animation-delay: -11s;
}

.aquarius-10 {
    animation-delay: -2s;
}

.aquarius-11 {
    animation-delay: -5s;
}

.aquarius-12 {
    animation-delay: -12s;
}