@use '../signs.scss';
.capricornus-1 {
    animation-delay: -8s;
}

.capricornus-2 {
    animation-delay: -3s;
}

.capricornus-3 {
    animation-delay: -7s;
}

.capricornus-4 {
    animation-delay: -4s;
}

.capricornus-5 {
    animation-delay: -9s;
}

.capricornus-6 {
    animation-delay: -6s;
}

.capricornus-7 {
    animation-delay: -1s;
}

.capricornus-8 {
    animation-delay: -10s;
}

.capricornus-9 {
    animation-delay: -11s;
}