@use '../signs.scss';
.gemini-1 {
    animation-delay: -8s;
}

.gemini-2 {
    animation-delay: -3s;
}

.gemini-3 {
    animation-delay: -7s;
}

.gemini-4 {
    animation-delay: -4s;
}

.gemini-5 {
    animation-delay: -9s;
}

.gemini-6 {
    animation-delay: -6s;
}

.gemini-7 {
    animation-delay: -1s;
}

.gemini-8 {
    animation-delay: -10s;
}

.gemini-9 {
    animation-delay: -11s;
}

.gemini-10 {
    animation-delay: -2s;
}

.gemini-11 {
    animation-delay: -5s;
}