@use '../signs.scss';
.leo-1 {
    animation-delay: -8s;
}

.leo-2 {
    animation-delay: -3s;
}

.leo-3 {
    animation-delay: -7s;
}

.leo-4 {
    animation-delay: -4s;
}

.leo-5 {
    animation-delay: -9s;
}

.leo-6 {
    animation-delay: -6s;
}

.leo-7 {
    animation-delay: -1s;
}

.leo-8 {
    animation-delay: -10s;
}

.leo-9 {
    animation-delay: -11s;
}