@use '../signs.scss';
.libra-1 {
    animation-delay: -8s;
}

.libra-2 {
    animation-delay: -3s;
}

.libra-3 {
    animation-delay: -7s;
}

.libra-4 {
    animation-delay: -4s;
}

.libra-5 {
    animation-delay: -9s;
}

.libra-6 {
    animation-delay: -6s;
}

.libra-7 {
    animation-delay: -1s;
}